.about {
  width: 80%;
  height: 40rem;
  margin: 10rem auto;
  position: relative;
  background-color: var(--color02);

  display: flex;
  align-items: end;
  justify-content: space-between;
  border-radius: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.heading {
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--color03);
  margin-bottom: 1rem;
}

.myImage {
  filter: sepia(25%) grayscale(100%);
  max-width: 95%;
  border-radius: 5rem 0;
}

.description {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;
  padding: 5rem;
}

@media screen and (max-width: 100em) {
  .about {
    width: 90%;
    height: 42rem;
  }
}
@media screen and (max-width: 80em) {
  .about {
    width: 97.5%;
    height: max-content;
    overflow: hidden;
    border-radius: 2.5rem;
  }
  .heading {
    font-size: 2.4rem;
  }
  .myImage {
    margin-top: 1.5rem;
    border-radius: 0;
  }
}

@media screen and (max-width: 60em) {
  .about {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .myImage {
    margin-top: 0;
    margin-bottom: -3.5rem;
  }
}

@media screen and (max-width: 40em) {
  .about {
    width: 95%;
  }
  .description {
    padding: 2rem;
  }
  .myImage {
    height: fit-content;
    margin-bottom: -3.5rem;
  }
}

@media screen and (max-width: 20em) {
  .about {
    border-radius: 1rem;
  }
  .heading {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1.2rem;
    padding: 1rem;
  }
}
