.artwork {
  width: 70rem;
  height: 70rem;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}

.artwork > * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.css {
  animation: float 8s cubic-bezier(0.44, 0.14, 0.58, 0.96) infinite 750ms;
}
.javascript {
  animation: float 9s cubic-bezier(0.44, 0.14, 0.58, 0.96) infinite;
}
.html {
  animation: float 7s cubic-bezier(0.44, 0.14, 0.58, 0.96) infinite 550ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 110em) {
  .artwork {
    width: 60rem;
  }
}

@media screen and (max-width: 90em) {
  .artwork {
    width: 50rem;
  }
}
@media screen and (max-width: 40em) {
  .artwork {
    width: 100%;
    height: 100vw;
    align-self: flex-start;
  }
}
@media screen and (max-width: 20em) {
  .artwork {
    display: none;
  }
}
