.contact {
  width: 100%;
  height: 100vh;
  max-height: 115rem;
  margin: 0 auto;
  padding: 5rem 0 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: -10;
}

.social {
  width: 100%;
  background-color: var(--color01);
  padding: 8rem 5rem 2.5rem;
  margin: -20rem auto 0;
  color: var(--color03);
}

@media screen and (max-width: 62.5em) {
  .social {
    margin: -5rem auto 0;
    justify-content: center;
  }
}

@media screen and (max-width: 40em) {
  .contact {
    display: block;
    height: fit-content;
    padding: 0;
  }
}
@media (max-height: 30em) and (orientation: landscape) {
  .contact {
    display: block;
    height: fit-content;
    padding: 0;
  }
}
