.contact {
  width: 100%;
  height: 100vh;
  max-height: 115rem;
  margin: 0 auto;
  padding: 5rem 0 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: 0;
}

.social {
  width: 100%;
  margin: -20rem auto 0;
  padding: 10rem 5rem 2.5rem;
  background-color: var(--color01);
  color: var(--color03);

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.links {
  display: flex;
  gap: 2.5rem;
  margin: 0 3rem;
}

.icons {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 100em) {
  .social {
    justify-content: flex-end;
    gap: 5rem;
  }
}
@media screen and (max-width: 60em) {
  .social {
    margin: -5rem auto 0;
    justify-content: center;
  }
}
@media screen and (max-width: 40em) {
  .contact {
    display: block;
    height: fit-content;
    padding: 0;
  }
  .social {
    flex-direction: column;

    margin: 0 auto;
  }
  .mails {
    margin-left: 0rem;
  }
  .links {
    margin: 0;
  }
}
