.links {
  width: fit-content;
  margin: 0 auto;
  padding-left: 20rem;
  z-index: 10;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 3rem;
}

.link {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.link:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}
.link:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.icons {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 100em) {
  .links {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 40em) {
  .links {
    display: block;
    font-size: 1.4rem;

    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 20em) {
  .links {
    font-size: 1.2rem;
  }
  .icons {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

@media (max-height: 30em) and (orientation: landscape) {
  .links {
    display: block;
    font-size: 1.4rem;

    margin: 0;
    padding: 0;
  }
}
