.contact {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem 0 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.map {
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 0;
  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 20%;
  margin-bottom: 10rem;
  margin-left: 15%;
  height: 70%;
  background-color: var(--color02);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.heading {
  font-size: 2.4rem;
  text-align: start;
  padding: 2rem 4rem;
  text-transform: capitalize;
  color: var(--color03);
  font-weight: 400;
}

.input {
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color04);
  padding: 1rem;
  outline: none;
  font-size: 1.6rem;
  resize: none;
}

.input::placeholder {
  color: var(--color01);
}
.input:valid {
  border-bottom: 2px solid green;
}
.input:focus {
  border-bottom: 2px solid orangered;
}

.btn {
  width: max-content;
  background-color: var(--color05);
  color: var(--color03);
  padding: 1rem 5rem;
  margin: 2rem 0;
  margin-left: auto;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: end;
  vertical-align: middle;
  border-radius: 0.5rem 0 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  transition: all 200ms;
}

.btn:hover {
  padding: 1rem 4rem;
  gap: 4rem;
}

.social {
  width: 100%;
  margin: -20rem auto 0;
  padding: 5rem 0;
  background-color: var(--color01);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color03);
}

.mails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  margin-left: 20rem;
}

.mail {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.links {
  display: flex;
  gap: 2rem;
  margin: 0 10rem;
}

.icons {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
