.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  min-width: 40rem;
  max-width: 100%;

  margin: 0 25rem;
  padding: 7.5rem 0;

  background-color: var(--color02);
  box-shadow: var(--shadowMd);

  border-radius: 2rem;
  z-index: 10;
  overflow: hidden;
}

.heading {
  font-size: 2.4rem;
  text-align: start;
  padding: 2rem 4rem;
  text-transform: capitalize;
  color: var(--color03);
  font-weight: 400;
}

.input {
  width: 85%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color04);
  padding: 1rem;
  outline: none;
  font-size: 1.6rem;
  resize: none;
}

.input::placeholder {
  color: var(--color01);
}
.input:valid {
  border-bottom: 2px solid green;
}
.input:focus {
  border-bottom: 2px solid orangered;
}

.btn {
  width: max-content;
  background-color: rgb(1, 1, 50);
  color: #e0fbfc;
  padding: 1.25rem 5rem;
  margin: 2rem 0 0 auto;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 0.5rem 0 0 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  transition: all 200ms;

  box-shadow: var(--shadowMd);
}
.btn:hover {
  padding-right: 4rem;
  gap: 3rem;
}

@media screen and (max-width: 112em) {
  .form {
    margin: 0 15rem;
  }
}
@media screen and (max-width: 80em) {
  .form {
    padding: 5rem 0;
    margin: 0 5rem 0;
  }
}

@media screen and (max-width: 60em) {
  .form {
    height: fit-content;
    padding: 2.5rem 0;
  }
}
@media screen and (max-width: 40em) {
  .form {
    min-width: fit-content;
    height: 80%;
    margin: 0;
    padding: 25rem 0 10rem;
    border-radius: 0%;
    z-index: 10;
    background-color: transparent;
    box-shadow: none;
  }
  .heading {
    color: var(--color05);
  }
}

@media screen and (max-width: 20em) {
  .form {
    padding: 15rem 0 10rem;
  }
  .input {
    width: 100%;
  }
  .heading {
    padding: 1rem;
    color: var(--color05);
  }
}
