.Intro {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  color: var(--color05);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.greet {
  font-size: 4rem;
}

.header {
  font-size: 9.6rem;
  color: var(--color01);
}

.description {
  width: 80%;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--color04);
  cursor: pointer;
  color: var(--color03);
  font-weight: 600;
  box-shadow: 1px 5px 1rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin: 2rem 0;
}
.btn:last-child {
  margin-left: 2rem;
  background-color: var(--color02);
}

.heroImage {
  justify-self: center;
  width: 70rem;
  height: 70rem;
}
