.sidebar {
  margin: 0 auto;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  height: 100vh;
  background: var(--bg02);
  padding: 5rem 2rem;

  position: fixed;
  right: -100%;
  z-index: 10;

  transition: all 250ms;
  box-shadow: var(--shadowMd);
}

.sidebar:hover {
  right: 0%;
}

.btn {
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.logo {
  padding: 1rem;
  border-radius: 50%;
  box-shadow: var(--shadowMd);
  background-color: var(--accent01);
  transition: all 100ms;
}

.sidebar:hover > .btn > img {
  transform: scale(0);
}

.links {
  padding: 2.5rem 0;
  list-style: none;
  font-size: 3.2rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: var(--text01);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  perspective: 100rem;
  transform-style: preserve-3d;

  transform: rotate3d(0, 1, 0, -45deg);
  transform-origin: 100%;

  transition: all 0.5s;
}

.link:hover {
  transform: rotate3d(0, 1, 0, 0deg);
  text-shadow: var(--shadowSm);
}

@media screen and (max-width: 80em) {
  .link {
    transform: rotateY(0deg);
    font-size: 2.4rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 40em) {
  .icons {
    margin-bottom: 4rem;
  }
  .links > * {
    margin: 1.5rem 0;
  }
  .link > span {
    display: none;
  }
  .btn {
    right: 5%;
  }
}
