.navBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  text-decoration: none;

  z-index: 10;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.links {
  padding: 2.5rem 0;
  display: flex;
  color: var(--color05);
  list-style: none;
  font-size: 2rem;
  gap: 2rem;
  cursor: pointer;
}
