.projects {
  width: 80vw;
  max-width: 100vw;
  margin: 0 auto;
  padding: 5rem 0 15rem;
  color: var(--text02);
}

.heading {
  color: var(--text01);
  font-size: 3.2rem;
  padding: 0 0 10rem;
  font-weight: 200;
  text-transform: capitalize;
}

.details {
  display: flex;
  gap: 10rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.details:nth-child(odd) {
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20rem 0;
}

@media screen and (max-width: 100em) {
  .projects {
    width: 95vw;
  }
  .details {
    gap: 5rem;
  }
}
@media screen and (max-width: 80em) {
  .projects {
    width: 100%;
    padding: 5rem 2rem;
  }
  .details {
    gap: 2.5rem;
    align-items: center;
  }
  .details:nth-child(odd) {
    margin: 10rem 0;
  }
}
@media screen and (max-width: 70em) {
  .details {
    flex-direction: column;
    align-items: center;
  }
  .details:nth-child(odd) {
    flex-direction: column;
    margin: 7.5rem 0;
  }
}
@media screen and (max-width: 60em) {
  .projects {
    padding: 2rem;
  }
  .heading {
    margin: 2rem 0;
    padding: 0;
  }
}
@media screen and (max-width: 40em) {
  .projects {
    padding: 1rem;
  }
  .heading {
    font-size: 2.8rem;
  }
}
