.imageLink {
  background-color: var(--color02);
  border-radius: 1rem;
  box-shadow: var(--shadowSm);
  max-width: 100%;
  min-width: 40%;
  width: max-content;

  flex-shrink: 0;
  margin: 0 auto;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  width: max-content;
  gap: 1rem;
  align-items: center;

  padding: 1rem 2rem;
  margin: 2rem 1rem;
  border-radius: 5rem;
  font-weight: 500;
  transition: all 200ms;
  text-transform: capitalize;

  background-color: var(--color04);
  color: var(--color03);
  box-shadow: var(--shadowSm);
}
.btn:last-child {
  gap: 0.5rem;
  background-color: transparent;
  box-shadow: none;
  color: var(--color05);
}

.btn:first-child:hover {
  gap: 1.75rem;
  padding-right: 1.25rem;
}

@media screen and (max-width: 90em) {
  .imageLink {
    flex-shrink: 1;
  }
  .image {
    min-width: 35rem;
  }
}

@media screen and (max-width: 40em) {
  .btn {
    gap: 0.75rem;
    margin: 1rem;
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0.75rem 1.25rem;
  }
  .btn:first-child:hover {
    padding: 0.75rem 1.25rem;
    gap: 0.75rem;
  }
}
