.heading {
  color: var(--color05);
  font-size: 3.2rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  text-align: justify;
}

.techs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.tech {
  background-color: var(--color02);
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  box-shadow: var(--shadowSM);
  width: max-content;
  font-weight: 600;
}

.subHead {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 2rem 0 1rem;
}

.extras {
  display: flex;
  gap: 2.5rem;
}
.extra {
  width: 50%;
  flex: 1;
  text-align: justify;
}

@media screen and (max-width: 90em) {
  .extras {
    gap: 2rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 40em) {
  .extras {
    display: none;
  }
  .heading {
    font-size: 2.8rem;
  }
  .tech {
    padding: 0.5rem 2rem;
    font-weight: 400;
  }
}
