.skills {
  width: 100%;
  margin: 2.5rem auto;
  background-color: var(--color02);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  gap: 5rem;
}

.img {
  width: 7.5rem;
}

.list {
  padding: 2.5rem 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.items:first-child {
  background-color: var(--color03);
  color: var(--color01);
}

.items {
  flex: 0;
  padding: 2rem 3rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--color05);
  cursor: pointer;
  border-radius: 1rem;
}

.items:hover {
  background-color: var(--color03);
  color: var(--color01);
}
