.skills {
  width: 100%;
  margin: 2.5rem auto;
  padding: 2rem 0;
  background-color: var(--color02);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.animation {
  display: flex;
  align-items: center;
}

.heading {
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--color03);
  text-align: center;
  text-transform: capitalize;
}

.details {
  display: flex;
  gap: 5rem;
}

.img {
  width: 5rem;
  height: 5rem;
}

.list {
  list-style: none;
  display: flex;
  gap: 2rem;

  align-items: center;
  justify-content: center;
  animation: slideshow 30s linear infinite;
}
.animation:hover > * {
  animation-play-state: paused;
}

.items {
  width: 100%;
  padding: 1rem 3rem;
  text-transform: capitalize;
  color: var(--color05);
  cursor: pointer;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.items:hover {
  background-color: var(--color03);
  color: var(--color01);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
