.skills {
  width: 100%;
  margin: 2.5rem auto;
  padding: 2rem 0;
  background-color: var(--color02);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.animation {
  display: flex;
  align-items: center;
}

.heading {
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--color03);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  animation: slideshow 30s linear infinite;
}
.animation:hover > * {
  animation-play-state: paused;
}

.items {
  width: 100%;
  padding: 1rem 3rem;
  text-transform: capitalize;
  color: var(--color05);
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.items:hover {
  background-color: var(--color03);
  color: var(--color01);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.img {
  width: 5rem;
  height: 5rem;
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 60em) {
  .skills {
    padding: 1rem 0;
  }
  .heading {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }
  .img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .items {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 25em) {
  .heading {
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
  }

  .items {
    font-size: 1rem;
    padding: 1rem;
  }
}
