:root {
  --color01: #3d5a80;
  --color02: #98c1d9;
  --color03: #e0fbfc;
  --color04: #ee6c4d;
  --color05: #293241;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1.6rem;
}

main {
  min-height: 100vh;
  max-width: 200rem;
  margin: 0 auto;
  position: relative;
  background-color: var(--color03);
}

::-webkit-scrollbar {
  display: none;
}
