:root {
  --color01: #3d5a80;
  --color02: #98c1d9;
  --color03: #e0fbfc;
  --color04: #ee6c4d;
  --color05: #293241;

  --shadowSm: 0 0 1rem rgba(0, 0, 0, 0.1);
  --shadowMd: 0 0 1rem rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  font-size: 1.6rem;
  background-color: var(--color03);
  position: relative;
}

main {
  min-height: 100vh;
  max-width: 200rem;
  margin: 0 auto;
  position: relative;
  background-color: var(--color03);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

path {
  user-select: none;
  outline: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

a,
button {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
